<!DOCTYPE html>
<html lang="en"><head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Real estate - Bootstrap</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

	<link id="switch_style" href="css/real_estate.css" rel="stylesheet">
	<link href="css/theme.css" rel="stylesheet">
    <!--[if lt IE 9]>
		<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>

<body>

    <div class="container">
		<div class="row"><!-- start header -->
			<div class="col-sm-4 col-xs-6 logo">
				<a href="index.html">
				<div class="row">
					<div class="col-sm-3 hidden-xs logo-img">
						<img src="css/images/Home-green-48.png" alt=""/>
					</div>
					<div class="col-sm-9 logo-text">
						<h1><small>Bootstrap</small><br /><span>Real</span> estate</h1>
					</div>
				</div>
				</a>
			</div>
			<div class="col-sm-4 col-xs-6 customer_service pull-right text-right">
				<h4 class="phone"><span class="hidden-xs">Customer service: </span>0800 8475 548</h4>
				<h4><small>24 hours a day, 7 days a week</small></h4>
			</div>
		</div><!-- end header -->

		<div class="row"><!-- start nav -->
			<div class="col-sm-12">

				<nav class="navbar navbar-inverse" role="navigation" >
					<div class="navbar-inner">
				  <!-- Brand and toggle get grouped for better mobile display -->
				  <div class="navbar-header">
				    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				      <span class="sr-only">Toggle navigation</span>
				      <span class="icon-bar"></span>
				      <span class="icon-bar"></span>
				      <span class="icon-bar"></span>
				    </button>
				    <a class="navbar-brand visible-xs" href="#">Menu</a>
				  </div>

				  <!-- Collect the nav links, forms, and other content for toggling -->
				</div>
				</nav>

			</div>
		</div><!-- end nav -->		<div class="row">

	<div class="col-sm-3">
		<h2>Lightweight defaults</h2>
		<h3>Rewritten base class</h3>
		<p>With Bootstrap 2, we've simplified the base class: <code>.alert</code> instead of <code>.alert-message</code>. We've also reduced the minimum required markup&mdash;no <code>&lt;p&gt;</code> is required by default, just the outer <code>&lt;div&gt;</code>.</p>
	</div>
	<div class="col-sm-9">
		<div class="page-header">
			<h1>About us <small>What we do</small></h1>
		</div>

		<!-- Headings & Paragraph Copy -->
		<div class="row">


			<div class="col-sm-12">
				<blockquote class="pull-right">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis.</p>
					<small>Someone famous in <cite title="">Body of work</cite></small>
				</blockquote>

			</div>

			<div class="col-sm-12">
				<h3>Why do you do what you do?</h3>
				<p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

				<p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui.</p>
			</div>

			<div class="col-sm-12">
				<h3>Who are the people behind the company?</h3>
				<p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

				<p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui.</p>
			</div>

			<div class="col-sm-12">
				<h3>What kind of people will I be working with/buying from?</h3>
				<p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

				<p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui.</p>
			</div>

			<div class="col-sm-12">
				<h3>What does your company stand for?</h3>
				<p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

				<p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui.</p>
			</div>


			<!-- Misc Elements -->

		</div><!-- /row -->

	</div>

</div><footer>
	<hr />
	<p class="pull-right"><a href="#">Back to top</a></p>
	<p>
		<a href="index.html">Home</a> |
		<a href="about.html">About</a> |
		<a href="contact.html">Contact Us</a> | All content &copy; 2016 | <a href="https://futureinvest.co/">FutureInvest</a>.
	</p>
</footer>

</div> <!-- /container -->

<script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="js/response.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

    <!-- Important Owl stylesheet -->
    <link rel="stylesheet" href="js/owl-carousel/owl.carousel.css">

    <!-- Default Theme -->
    <link rel="stylesheet" href="js/owl-carousel/owl.theme.css">

    <!-- Include js plugin -->
    <script src="js/owl-carousel/owl.carousel.js"></script>

<script type="text/javascript" src="js/jquery.aw-showcase/jquery.aw-showcase.js"></script>
<link rel="stylesheet" href="js/jquery.aw-showcase/css/style.css" />

<script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>

<link rel="stylesheet" href="js/badger/badger.min.css" />
<script type="text/javascript" src="js/badger/badger.min.js"></script>

<link rel="stylesheet" href="js/sticky/sticky.min.css" />
<script type="text/javascript" src="js/sticky/sticky.min.js"></script>

<script type="text/javascript" src="js/portamento-min.js"></script>
<script type="text/javascript" src="js/global.js"></script>

</body>
</html>
