<!DOCTYPE html>
<html lang="en"><head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Real estate - Bootstrap</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

	<link id="switch_style" href="css/real_estate.css" rel="stylesheet">
	<link href="css/theme.css" rel="stylesheet">
    <!--[if lt IE 9]>
		<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
</head>

<body>
	
    <div class="container">
		<div class="row"><!-- start header -->
			<div class="col-sm-4 col-xs-6 logo">
				<a href="index.html">
				<div class="row">
					<div class="col-sm-3 hidden-xs logo-img">
						<img src="css/images/Home-green-48.png" alt=""/>
					</div>
					<div class="col-sm-9 logo-text">
						<h1><small>Bootstrap</small><br /><span>Real</span> estate</h1>
					</div>
				</div>
				</a>
			</div>		
			<div class="col-sm-4 col-xs-6 customer_service pull-right text-right">
				<h4 class="phone"><span class="hidden-xs">Customer service: </span>0800 8475 548</h4>
				<h4><small>24 hours a day, 7 days a week</small></h4>
			</div>
		</div><!-- end header -->
		
		<div class="row"><!-- start nav -->
			<div class="col-sm-12">

				<nav class="navbar navbar-inverse" role="navigation" >
					<div class="navbar-inner">
				  <!-- Brand and toggle get grouped for better mobile display -->
				  <div class="navbar-header">
				    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				      <span class="sr-only">Toggle navigation</span>
				      <span class="icon-bar"></span>
				      <span class="icon-bar"></span>
				      <span class="icon-bar"></span>
				    </button>
				    <a class="navbar-brand visible-xs" href="#">Menu</a>
				  </div>

				  <!-- Collect the nav links, forms, and other content for toggling -->
				  <div class="collapse navbar-collapse navbar-ex1-collapse">
				    <ul class="nav navbar-nav">
						<li><a href="listings.html" class="first">For sale</a></li>
						<li><a href="map_properties.html">To rent</a></li>
						<li><a href="compare.html">New homes</a></li>
						<li><a href="property.html">Property of the day</a></li>

						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Property pages <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="listings.html">Property listings</a></li>
								<li><a href="map_properties.html">Properties map</a></li>
								<li><a href="property.html">Single property</a></li>
								<li><a href="compare.html">Compare properties</a></li>
							</ul>
						</li>
                        
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Other pages <b class="caret"></b></a>
							<ul class="dropdown-menu">
                                <li><a href="typography.html">Typography</a></li>
                                <li><a href="terms.html">Terms and conditions</a></li>
                                <li><a href="contact.html">Contact us</a></li>
                                <li><a href="about.html">About us</a></li>
							</ul>
						</li>
				    </ul>

				    					<ul class="nav navbar-nav navbar-right">
									
									<li class="dropdown">
										<a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign Up<strong class="caret"></strong></a>
										<div class="dropdown-menu">
											<form action="index.html" method="post">
												<input type="text" name="user[username]" placeholder="Full name" size="30" />
												<input type="password" name="user[password]" placeholder="Email" size="30" />
												<input type="password" name="user[password]" placeholder="Password" size="30" />
												
												<input class="btn btn-primary" type="submit" name="commit" value="Sign Up" />
											</form>
										</div>
									</li>			
									
									<li class="dropdown">
										<a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In <strong class="caret"></strong></a>
										<div class="dropdown-menu">
											<form action="index.html" method="post">
												<input type="text" name="user[username]" placeholder="Username or email" size="30" /><br class="visible-xs"/>
												<input type="password" name="user[password]" placeholder="Password" size="30" /><br class="visible-xs"/>
												<input id="remember_me" type="checkbox" name="user[remember_me]" value="1" />
												<label class="string optional"> Remember me</label>
												
												<input class="btn btn-primary" type="submit" name="commit" value="Sign In" />
											</form>
										</div>
									</li>
									
								</ul>

				  </div><!-- /.navbar-collapse -->
				</div>
				</nav>

			</div>
		</div><!-- end nav -->		<div class="row">
	
	
	<div class="col-sm-12">
		<div class="page-header">
			<h1>Terms and conditions</h1>
		</div>
		
		<!-- Headings & Paragraph Copy -->
		<div class="row">
			
			<div class="col-sm-12">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. In non nibh sit amet tortor varius ornare ornare varius metus. Nunc mollis elit quis ante ornare at viverra elit porttitor. Cras libero neque, tincidunt molestie malesuada a, iaculis nec dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent odio erat, hendrerit nec imperdiet vitae, posuere a nulla. Etiam elementum nulla in quam posuere porttitor. Curabitur eget enim libero, a laoreet metus. Suspendisse vitae augue leo, quis porttitor eros. Ut ullamcorper lectus non ipsum dignissim interdum id a magna. Vivamus et augue non ligula sagittis dictum. In sit amet lacus neque. Pellentesque risus ipsum, rhoncus vel viverra sit amet, aliquet ac leo. Phasellus pharetra orci in justo scelerisque et tincidunt lectus rutrum. Aenean enim magna, pellentesque sit amet condimentum eget, euismod ut orci. Duis accumsan iaculis libero, nec elementum turpis viverra pulvinar.
				</p>
				<p>
					Vivamus porta auctor metus eget viverra. Vivamus eu diam metus. Sed vitae sem et justo congue luctus et vitae diam. Nunc at nibh nulla, nec pretium est. Donec eleifend convallis dui vitae rutrum. Fusce eget diam tellus. Suspendisse sagittis sollicitudin erat ac faucibus. Phasellus ut turpis turpis, vel pellentesque enim. Vivamus vitae nibh et justo porttitor dictum porta a orci.
				</p>
				<p>
					Nulla mauris tellus, laoreet id interdum eu, ornare quis lacus. Donec pretium condimentum turpis, sit amet elementum ligula mollis sit amet. Morbi porta sodales velit sed volutpat. Fusce at erat sed sem lobortis mollis quis sed ipsum. Donec facilisis justo at ipsum euismod eu vulputate ligula tempus. Nulla facilisi. Curabitur vitae enim sit amet augue tristique sollicitudin. Nulla dui augue, viverra non bibendum ultrices, luctus eget magna.
				</p>
				<p>
					Donec odio odio, ultrices ac volutpat vel, vestibulum et ante. Donec porttitor commodo facilisis. Nullam feugiat adipiscing nulla, sit amet porttitor nulla consequat non. Duis vitae purus leo, sit amet elementum tortor. Sed blandit iaculis elit id vestibulum. Maecenas quam diam, bibendum ac pharetra vulputate, porta non lectus. Nullam purus augue, tristique ac imperdiet sed, scelerisque eget velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean egestas molestie dignissim. Vestibulum cursus, leo interdum semper gravida, eros enim mollis dolor, vitae aliquam purus risus at justo. Cras quis lacus non lectus rutrum pretium vitae quis nisi. Donec urna nisl, volutpat nec hendrerit vel, auctor a libero. Aenean erat dui, hendrerit eget rhoncus eget, bibendum ut metus.
				</p>
				<p>
					Donec sodales faucibus convallis. Nam vel interdum dolor. Nulla facilisi. Proin varius, mauris vel posuere condimentum, ante orci dictum neque, congue suscipit turpis est sit amet arcu. Mauris et pulvinar orci. Curabitur imperdiet, arcu a tempor accumsan, tortor eros tincidunt elit, sit amet fermentum justo ligula in leo. Nunc felis ligula, placerat sit amet tincidunt et, tincidunt eu urna. Sed at enim neque, ut feugiat sapien. Nulla rhoncus semper rhoncus. Suspendisse vulputate justo nec dui iaculis ut varius arcu scelerisque. Duis fermentum fermentum massa, eget fringilla est condimentum tincidunt.
				</p>
			</div>
			
			
			<!-- Misc Elements -->
			
		</div><!-- /row -->
		
	</div>
	
</div><footer>
	<hr />	
	<p class="pull-right"><a href="#">Back to top</a></p>
	<p>
		<a href="index.html">Home</a> |
		<a href="about.html">About</a> |
		<a href="typography.html">Typography</a> |
		<a href="terms.html">Terms and Conditions</a> |
		<a href="contact.html">Contact Us</a><br />
		All content &copy; 2014 | <a href="about.html">Built with Twitter Bootstrap</a> | <a href="https://wrapbootstrap.com/">WrapBootstrap</a>.
	</p>
</footer>

</div> <!-- /container -->

<div id="theme_switcher">
	<div class="btn-group">
		<a class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="#">Switch theme <span class="caret"></span></a>
		<ul class="dropdown-menu">
            <li><a href="#" data-theme="real_estate">Real Estate</a></li>
			<li><a href="#" data-theme="cerulean">Cerulean</a></li>
			<li><a href="#" data-theme="lumen">Lumen</a></li>
            <li><a href="#" data-theme="slate">Slate</a></li>
			<li><a href="#" data-theme="united">United</a></li>
			<li><a href="#" data-theme="cyborg">Cyborg</a></li>
            <li><a href="#" data-theme="spacelab">Spacelab</a></li>
			<li><a href="#" data-theme="journal">Journal</a></li>
			<li><a href="#" data-theme="simplex">Simplex</a></li>
            <li><a href="#" data-theme="superhero">Superhero</a></li>
            <li><a href="#" data-theme="amelia">Amelia</a></li>            
			<li><a href="#" data-theme="cosmo">Cosmo</a></li>
			<li><a href="#" data-theme="flatly">Flatly</a></li>
		</ul>
	</div>
</div>

<script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="js/response.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

    <!-- Important Owl stylesheet -->
    <link rel="stylesheet" href="js/owl-carousel/owl.carousel.css">
     
    <!-- Default Theme -->
    <link rel="stylesheet" href="js/owl-carousel/owl.theme.css">
     
    <!-- Include js plugin -->
    <script src="js/owl-carousel/owl.carousel.js"></script>

<script type="text/javascript" src="js/jquery.aw-showcase/jquery.aw-showcase.js"></script>
<link rel="stylesheet" href="js/jquery.aw-showcase/css/style.css" />

<script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>

<link rel="stylesheet" href="js/badger/badger.min.css" />
<script type="text/javascript" src="js/badger/badger.min.js"></script>

<link rel="stylesheet" href="js/sticky/sticky.min.css" />
<script type="text/javascript" src="js/sticky/sticky.min.js"></script>

<script type="text/javascript" src="js/portamento-min.js"></script>
<script type="text/javascript" src="js/global.js"></script>

</body>
</html>